##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable

In [46]:
#Code goes here
var = None
print(var)

None

2. > Create a variable containing your name

In [47]:
#Code goes here
myname = "Shintia Yulita Sari"
print('My name :',myname)

My name : Shintia Yulita Sari

3. > Create a list of 5 items you can find in the classroom

In [48]:
#Code goes here
classroom = ['whiteboard', 'marker', 'air conditioniner','computer','LCD projector']
print(classroom)

['whiteboard', 'marker', 'air conditioniner', 'computer', 'LCD projector']

4. > Create a dictionary containing 2 keys and value

In [48]:
#Code goes here
warmindo = {
    "menu" : ['nasgor','magelangan','bakmi','nasi ayam','nasi telor'],
    "harga" : [18000,18000,17500,16000,15500]
}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay.

In [22]:
#Code goes here

price=12000
quantity_sold=20
discount=0.1
total = price*quantity_sold*(1-discount)
print('The total money that the customer to pay:',total)

The total money that the customer to pay: 216000.0

In [45]:
def total(price,quantity_sold,discount):
    total = price*quantity_sold*(1-discount)
    return total

price=12000
quantity_sold=20
discount=0.1

total_money=total(price,quantity_sold,discount)
print('The total money that the customer to pay:',total_money)

The total money that the customer to pay: 216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [50]:
# Create list of countries in the world (total 7 countries)
#Code goes here

countries=['Indonesia','Yamen','Malaysia','Marocco','New Zealand','Singapore','United Arab Emirates']
print(len(countries))
print(countries)

7
['Indonesia', 'Yamen', 'Malaysia', 'Marocco', 'New Zealand', 'Singapore', 'United Arab Emirates']

In [51]:
# Get 4 countries from the first index of the list
#Code goes here

countries[:4]

['Indonesia', 'Yamen', 'Malaysia', 'Marocco']

In [52]:
# Append new country to the list
#Code goes here

countries.append('Turkey')
print(countries)

['Indonesia', 'Yamen', 'Malaysia', 'Marocco', 'New Zealand', 'Singapore', 'United Arab Emirates', 'Turkey']

In [53]:
# Drop one country from the list
#Code goes here

countries[3]

'Marocco'

In [54]:
# Get country in the last index
#Code goes here

countries[-1]

'Turkey'

# Dictionary Data Operation

6. >  Follow the instructions below

In [39]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [40]:
# Print all keys in customer
#Code goes here

customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [41]:
# Print all customer names
#Code goes here

customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [42]:
# Print the first customer name
#Code goes here

(customer['name'])[0]

'Dio'

In [43]:
# Drop "age" key from the dictionary
#Code goes here

customer['age']

[20, 19, 24, 39]

In [44]:
# Replace customer gender list value
# gender 1 => Male
# gender 0 => Female 

#Code goes here
new_gender=[]
for gender in customer['gender']:
    if gender == 1:
        new_gender.append('Male')
    else:
        new_gender.append('Female')
customer['new_gender']=new_gender

print('New gender list value:',new_gender)

print('New dictionary:')
customer

New gender list value: ['Male', 'Female', 'Female', 'Male']
New dictionary:

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'new_gender': ['Male', 'Female', 'Female', 'Male']}

In [49]:
customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [50]:
import pandas as pd

df=pd.DataFrame(customer)

def new_gender(gender):
    if gender == 1:
        return('Male')
    else:
        return('Female')

df['new_gender'] = df.apply(lambda x: new_gender(x['gender']), axis = 1)

In [51]:
df

   name  age  gender membership new_gender
0   Dio   20       1   Platinum       Male
1   Eka   19       0       Gold     Female
2  Wayu   24       0     Silver     Female
3  Riki   39       1     Silver       Male